.home-6{
    width: 90%;
    margin: auto;
    height: 600px;
    display: flex;
    margin-top: 2%;
    margin-bottom: 5%;
}

.home-7{
    width:50%;
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;
}

.home-9{
    width: 50%;
}

.home-8 h1 {
    margin-top: 5%;
    font-size: 45px;
    font-weight: 700;
    font-family: Poppins;
    letter-spacing: 0.7px;
    word-spacing: 10px;
    color: orangered;
}

.home-8 p {
    font-weight: 200;
    font-family: Poppins;
    font-size: 15px;
    letter-spacing: 0.7px;
    line-height: 25px;
    color: white;
    text-align: justify;
    margin-bottom: 2%;
}

#skilltitle{
    color:orangered
}


.home-10{
    width: 90%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.home-10 h1 {
    font-size: 45px;
    font-weight: 700;
    font-family: Poppins;
    letter-spacing: 0.7px;
    word-spacing: 10px;
    color: orangered;
    text-align: center;
}

.home-10 p {
    font-weight: 200;
    font-family: Poppins;
    font-size: 15px;
    letter-spacing: 0.7px;
    line-height: 25px;
    color: white;
    text-align: justify;
    margin-bottom: 2%;
    text-align: center;
}

.home-12{
    display: flex;
    gap: 2%;
}

.home-11{
    width: 50%;
    height: 220px;
    margin: auto;
    border-radius: 15px;
    margin-bottom: 2%;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.home-13{
    width: 35%;
    background: url('../image/clg.avif');
    background-size: cover;
    border-top-left-radius:15px ;
    border-bottom-left-radius: 15px;
}

.home-14{
    padding: 3%;
}

.home-14 h3{
    font-size: 18px;
    font-weight: 200;
    font-family: Poppins;
    letter-spacing: 0.7px;
    color: orangered;
    text-align: center;
}

.home-14 p{
    text-align: left;
    font-size: 15px;
    margin-top: 2%;
    font-weight: 200;
    font-family: Poppins;
    letter-spacing: 1px;
}

.home-14 span{
    text-align: left;
    font-size: 15px;
    margin-top: 2%;
    font-weight: 200;
    font-family: Poppins;
    letter-spacing: 1px;
}
