.AboutUs-1 {
    width: 100%;
    margin: auto;
    margin-top: 7%;
    display: flex;
    margin-bottom: 5%;
}

.AboutUs-2 {
    width: 50%;
}

.AboutUs-3 {
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

/* .AboutUs-4{
    background-image: url('../../../image/image1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.9;
} */

.AboutUs-5 {
    width: 90%;
    margin: auto;
}

.AboutUs-5 h1 {
    font-size: 45px;
    font-weight: 800;
    font-family: Montserrat, sans-serif;
    letter-spacing: 0.7px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.AboutUs-5 p {
    font-weight: 300;
    font-family: Montserrat, sans-serif;
    letter-spacing: 0.7px;
    font-size: 16px;
    word-spacing: 3px;
    color: white;
    text-align: center;
    line-height: 30px;
    margin-top: 2%;
}


.AboutUs-6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.AboutUs-6 button {
    /* background: linear-gradient(145deg, #1e2024, #23272b); */
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 5%;
    border-radius: 5px;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    letter-spacing: 0.7px;
}

.AboutUs-6 button:hover {
    opacity: 0.8;
}