.AboutUs-1 {
    width: 95%;
    margin: auto;
    display: flex;
    margin-top: 5%;
}

.AboutUs-2 {
    width: 50%;
}

.AboutUs-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.AboutUs-4{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}


.AboutUs-5 {
    width: 90%;
    margin: auto;
}

.AboutUs-5 h1 {
    font-size: 35px;
    font-weight: 800;
    font-family: Montserrat, sans-serif;
    letter-spacing: 0.7px;
    color: orangered;
    text-align: left;
}

.AboutUs-5 p {
    font-weight: 300;
    font-family: Montserrat, sans-serif;
    letter-spacing: 0.7px;
    font-size: 16px;
    word-spacing: 3px;
    color: white;
    text-align: left;
    line-height: 30px;
    margin-top: 2%;
}


.AboutUs-6 {
    display: flex;
    justify-content: left;
    align-items: center;
}

.AboutUs-6 button {
    background: linear-gradient(145deg, #1e2024, #23272b);
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 5%;
    border-radius: 5px;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    letter-spacing: 0.7px;
    border: 1px solid white;
}

.AboutUs-6 button:hover {
    opacity: 0.8;
}

@media (max-width: 768px) {
    .AboutUs-1{
        flex-wrap: wrap;
    }
}